flask>=3.0.0
gunicorn>=21.2.0
numpy
blis>=0.7.9,<0.8.0
thinc>=8.2.0,<8.3.0
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
hdbscan
praw
openai
sentence-transformers
pandas
joblib
scipy
scikit-learn==1.6.1
