flask>=3.0.0
gunicorn>=21.2.0
numpy
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
hdbscan
praw
openai
sentence-transformers
pandas
joblib
scipy
scikit-learn
